{% extends 'base.html' %} {% load static %}

<!-- title -->
{% block head_title %} 날씨정보 &lt; 아 맞다! 여행 {% endblock %}

<!-- style -->
{% block style %}
<link rel="stylesheet" href="/static/scss/nav.css" />
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css" />
<link rel="stylesheet" href="{% static 'css/weather.css' %}" />
{% endblock %}
{% block main_area %}
<div class="weather">
  <section class="s1">
    <div class="container">
      <h2>제주도로 여행가고 싶은데 <br />날씨가 궁금하시다고요?</h2>
      <div class="w_intro">
        <span>알고 싶은 날짜를 선택하시면 기상청에서 조사한 <br />지난 10년간 제주도 날씨의 데이터를 기반으로 <br />선택한 날짜의 제주도의 날씨를 예측해 줍니다.</span>
        <div class="datepicker_area">
          <input type="text" id="datepicker" name="date" placeholder="년, 월, 일을 선택해 주세요" title="날짜 선택 예시 : 2023-06-30" />
          <i class="fa-regular fa-calendar-days fa-bounce" style="color: #282424"></i>
        </div>

        <strong class="pred_result">
          <em>2023</em>년 <em>6</em>월 <em>30</em>일

          <b>제주도의 <span>평균 온도</span>는 <em>22.3&deg;C</em> 입니다</b>
        </strong>
      </div>
      <div class="sub_cont">
        <div class="today_report">
          <h3>오늘의 제주</h3>
          <div class="today_info">
            <strong>{{ weather_data.temp_avg }} / {{ weather_data.w_state }}</strong>
            <ul>
              <li>
                <span>체감</span>
                <em>{{ weather_data.temp_sense }}</em>
              </li>
              <li>
                <b>{{ weather_data.w_txt }}</b>
              </li>
              <li>
                <span>강수량(mm)</span>
                <em>{{ weather_data.rain_mm }}</em>
              </li>
              <li>
                <span>습도</span>
                <em>{{ weather_data.hum_avg }}</em>
              </li>
              <li>
                <span>{{ weather_data.ws_dir }}</span>
                <em>{{ weather_data.ws_avg }}</em>
              </li>
              <li>
                <span>{{ weather_data.sun_txt }}</span>
                <em>{{ weather_data.sun_time }}</em>
              </li>
            </ul>
            <b>{{weather_data.wdate}}</b>
          </div>
        </div>
        <div class="week_report">
          <h3>제주도 강수확률</h3>
          <table class="table_center">
            <caption>
              제주도의 육상날씨
            </caption>
            <colgroup></colgroup>
            <thead>
              <tr>
                <th scope="col" rowspan="2">지역</th>
                <th scope="col" colspan="2">29일 <br />(목)</th>     
                <th scope="col" colspan="2">30일 <br />(금)</th>
                <th scope="col" colspan="2">01일 <br />(토)</th>
                <th scope="col" colspan="2">02일 <br />(일)</th>
                <th scope="col" rowspan="2">03일 <br />(월)</th>
                <th scope="col" rowspan="2">04일 <br />(화)</th>
                <th scope="col" rowspan="2">05일 <br />(수)</th>
              </tr>
              <tr>
                <th scope="col">오전</th>
                <th scope="col">오후</th>
                <th scope="col">오전</th>
                <th scope="col">오후</th>
                <th scope="col">오전</th>
                <th scope="col">오후</th>
                <th scope="col">오전</th>
                <th scope="col">오후</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>제주도</td>
                <td>70%</td>
                <td>60%</td>
                <td>90%</td>
                <td>90%</td>
                <td>90%</td>
                <td>80%</td>
                <td>40%</td>
                <td>40%</td>
                <td>40%</td>
                <td>40%</td>
                <td>40%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <section class="s2">
    <div class="container">
      <h2>제주의 다양한 정보를 알고 싶나요?</h2>
      <div class="region_temp">
        <h3>제주 각 지역의 일주일 최저/최고기온(℃)</h3>
        <table class="table_center">
          <caption>
            제주도의 일주일간 최저/최고 기온(℃) 알림표
          </caption>
          <colgroup></colgroup>
          <thead>
            <tr>
              <th scope="col" colspan="2">지역</th>
              {% for days in temp_l_h.제주.keys %}
              <th scope="col"> {{days}} <br /></th>
              {% endfor %}

            </tr>
          </thead>
          <tbody>
            <td rowspan="8">제주도</td>

            <tr>
            {% for key, value in temp_l_h.items %}
              <td>{{key}}</td>
              {% for key, val in value.items %}         
              <td><span>{{val.0}}</span> / <span>{{val.1}}</span></td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="air_info">
        <h3>제주의 하늘은 어떨까요?</h3>
        <ul>
          <li>
            <div class="air_area">
              <h4>미세먼지</h4>
              <div>
                <b>{{ weather_data.dust_avg }}</b>
                <span>{{ weather_data.dust_state }}</span>
              </div>
            </div>
          </li>
          <li>
            <div class="air_area">
              <h4>초미세먼지</h4>
              <div>
                <b>{{ weather_data.micro_dust_avg }}</b>
                <span>{{ weather_data.micro_dust_state }}</span>
              </div>
            </div>
          </li>
          <li>
            <div class="air_area">
              <h4>오존</h4>
              <div>
                <b>{{ weather_data.ozone_avg }}</b>
                <span>{{ weather_data.ozone_state }}</span>
              </div>
            </div>
          </li>
          <li>
            <div class="air_area">
              <h4>대기 질</h4>
              <div>
                <b>{{ weather_data.air_score }}</b>
                <span>{{ weather_data.air_state }}</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="air_detail">
        <div class="sub_cont">
          <div>
            <h3>현재 대기 오염도를 측정하는 오염물질들</h3>
            <ul>
              <li class="lv7">
                <b>통합대기</b>
                <span>통합대기지수는 대기오염도 6개 대기오염 측정치를 바탕으로 대기오염도에 따른 인체 영향 및 체감오염도를 고려하여 개발된 대기오염도 표현방식입니다.</span>
              </li>
              <li class="lv6">
                <b>초미세먼지</b>
                <span
                  >직경이 2.5마이크로미터 이하인 들이마실 수 있는 오염물질 입자로서 폐와 혈류에 들어갈 수 있으며, 이로 인해 심각한 건강 문제가 초래될 수 있습니다. 가장 심각한 영향은 폐와 심장에
                  발생합니다. 이러한 입자에 노출되면 기침 또는 호흡곤란, 천식 악화, 만성 호흡기 질환이 발생할 수 있습니다.</span
                >
              </li>
              <li class="lv5">
                <b>이산화질소</b>
                <span>이산화질소는 공업 연소 및 화학물질 공정 등에서 발생하는 질소화합물성 대기오염 물질로, 고농도 노출 시 점막과 기관지 폐에 부정적 영향을 줄 수 있습니다.</span>
              </li>
              <li class="lv4">
                <b>오존</b>
                <span
                  >오존은 대기 중 배출된 질소산화물(Nox)와 휘발성유기화합물이 자외선과 광화학반응해 생성된 2차 오염물질입니다. 다량 반복 노출 시 기관지와 호흡기, 폐에 부정적 영향을 줄 수
                  있습니다.</span
                >
              </li>
              <li class="lv3">
                <b>미세먼지</b>
                <span
                  >직경이 10마이크로미터 이하인 들이마실 수 있는 오염물질 입자입니다. 2.5마이크로미터 이상의 입자는 기도에 쌓일 수 있으며, 이로 인해 건강 문제가 초래됩니다. 이러한 입자에 노출되면 눈
                  및 목 염증, 기침 또는 호흡곤란, 천식 악화가 발생할 수 있습니다. 노출 빈도가 높고 과도한 경우에 건강에 보다 심각한 영향을 미칠 수 있습니다.</span
                >
              </li>
              <li class="lv2">
                <b>일산화탄소</b>
                <span
                  >일산화탄소는 탄소성분이 불완전 연소 시 발생하는 유독성 가스로, 산업공정의 연소, 주방 및 담배연기 등에서 발생가능합니다. 신체 내 산소운반 기능을 저하시켜 치명적일 수 있습니다.</span
                >
              </li>
              <li class="lv1">
                <b>아황산가스</b>
                <span>아황산가스는 황을 함유한 화석연료의 연소 시 배출되는 대기오염 물질로, 고농도 흡입 시 노약자와 호흡기 환자에게 부정적 영향을 줄 수 있습니다.</span>
              </li>
            </ul>
          </div>
          <div>
            <h3>대기질 범위</h3>
            <ul>
              <li class="lv1">
                <b
                  >완벽함
                  <em>0 - 19</em>
                </b>
                <span>대기질이 대부분의 사람들에게 적합합니다. 일상적인 야외 활동을 하기에 좋습니다.</span>
              </li>
              <li class="lv2">
                <b
                  >보통
                  <em>20 - 49</em>
                </b>
                <span>대기질이 대부분의 사람들에게 대체로 적합합니다. 그러나 장시간 노출될 경우 민감군은 경미하거나 중간 수준의 관련 증상을 보일 수 있습니다.</span>
              </li>
              <li class="lv3">
                <b
                  >나쁨
                  <em>50 - 99</em>
                </b>
                <span>대기 오염이 심각한 상태이며 민감군에 유해합니다. 호흡 곤란이나 목 자극과 같은 증상이 발생할 경우 야외 활동 시간을 줄이시기 바랍니다.</span>
              </li>
              <li class="lv4">
                <b
                  >건강에 해로움
                  <em>100 - 149</em>
                </b>
                <span>민감군에 즉각적인 영향을 미칠 수 있으며 건강한 사람들도 장시간 노출될 경우 호흡 곤란이나 목 자극 같은 증세를 보일 수 있습니다. 야외 활동을 제한하시기 바랍니다.</span>
              </li>
              <li class="lv5">
                <b
                  >건강에 매우 해로움
                  <em>150 - 249</em>
                </b>
                <span
                  >민감군은 즉각적인 영향을 받을 수 있기 때문에 야외 활동을 피해야 합니다. 건강한 사람들도 호흡 곤란이나 목 자극 같은 증세를 보일 수 있습니다. 실내 활동을 하거나 야외 활동의 시간을
                  조정하시기 바랍니다.</span
                >
              </li>
              <li class="lv6">
                <b
                  >위험
                  <em>250+</em>
                </b>
                <span>건강 상태에 관계없이 모든 사람이 단 몇 분이라도 공기에 노출될 경우 심각한 영향을 받을 수 있습니다. 야외 활동을 피하시기 바랍니다.</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<script>
  // datepicker
  $(function () {
    $("#datepicker").datepicker({
      dateFormat: "yy-mm-dd",
      dayNamesMin: ["월", "화", "수", "목", "금", "토", "일"],
      monthNamesShort: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],

      onSelect: function (dateText, inst) {
        $.ajax({
          url: "/path/to/views.py",
          type: "POST",
          data: {
            date: dateText,
          },
          success: function (response) {
            console.log(response);
          },
          error: function (xhr, status, error) {
            console.log(error);
          },
        });
      },
    });
  });

</script>

{% endblock %}
