

<div id="header">
	<!-- <ul id="top_menu">
			<li><a href="#">로그인</a></li>
			<li><a href="#">회원가입</a></li>
	</ul> -->
	<div id="logo">
		<a href="/"><img src="/static/images/logo.png"></a>
	</div>



	<nav class="top-right open">
		<a class="disc l1" href="/weather/">
			<div>WEATHER</div>
		</a>
		<a class="disc l2" href="/restaurant/">
			<div>HOTPLACE</div>
		</a>
		<a class="disc l3" href="/hostel/">
			<div>HOSTEL</div>
		</a>
		<a class="disc l5 toggle">
			Menu
		</a>
	</nav>
</div>


<link rel="stylesheet" href="/static/scss/nav.css">
<script src="/static/js/menu.js"></script>